html{
	scroll-behavior: smooth;
}


header, section, footer {
width: 100%;
margin-left: auto;
margin-right: auto;
}

header{

	height: 100vh;
	background-image:url( imagenes/Balneario\ Nido\ Del\ Aguila\ 2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-position: bottom;
	
}

#cuerpo{
	background-color: #EBF5FE;
}

#portada h1{
	text-align: center;
	letter-spacing: 0.1em;
	font-size: 100px;
	padding-top: 230px;
	color: #fff;
	font-family:  'Archivo Black';
	font-weight: bold;
	text-decoration:none;
}

#menu{
	text-align: center;
	margin: 20px;
}

#menu ul{
	list-style-type: none;
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	font-size: 20px;
	padding: 30px;
	color: #fff;
	text-decoration: none;
}

#principal{
    width: 90%;
    height: 1100px;
    margin: 10px auto;
}

#info_general{
    width: 48%;
    height: auto;
    margin: 10px;
   
    float: left;
}

.titulo_principal{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.descripcion_de_la_region{
    margin: 10px;
}

.titulo_secundario{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

#redes{
    margin: 10px;
}

#slider{
	width: 48%;
    height: 660px;
    margin: 10px;
    float: right;
	
}

.titulo_galeria{
	font-size: 20px;
    font-weight: bold;
    margin:10px;
}


#caja{
	width: 100%;
	height: auto; 
	float:right;
}

#carouselExampleControls{
	height: auto;
	margin-left: 20px;
	margin: 10px;
}

#carouselExampleControls{
    margin-left:0px; 
}

#mapa{
	width: 98%;
    height: auto;
    margin: 10px;
    float: right;
}

.titulo_mapa{
	font-size: 20px;
    font-weight: bold;
    margin:10px;
}

#imagen_mapa{
	margin: 10px 60px;
}


#pie{
	width: 100%;
    height: 300px;
    margin: 10px;
	margin-left: 0px;
	background-color: #FFEBF2;
}

#caja1{
	float:left;
	width: 33%;
	margin-left: 10%;	
}

#caja2{
	float:left;
	width: 33%;
}

#caja3{
	float:left;
	width: 33%;
}
   




